.footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
}

.footer-img-container{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}

.footer-container img{
    height: 50px;
    padding-inline: 30px;
}

.footer-container p{
    padding-top: 10px;
    color: rgb(129, 129, 129);
}