.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    margin-left: 3%;
    background-color: white;
}

.header-container h3{
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header-nav-bar{
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    left: 60%;
}

.header-nav-bar li{
    margin-inline: 10%;
    font-size: 20px;
}

.nav-link{
    text-decoration: none;
    color: black;
}