.section-title{
    text-align: center;
    font-size: 48px;
    font-family: sans-serif,Verdana, Geneva, Tahoma, ;
    margin-bottom: 20px;
}

.project-section{
    margin-top: 50px;
}

.title-divider{
    text-align: center;
    width: 5%;
    background-color: gold;
    height: 6px;
    border: none;
    border-radius: 20px;
}

.intro-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.intro-section img{
    align-self: center;
    width: 40%;
    height: 500px;
    margin-left: 10%;
    border-radius: 20px;
}

.cert-card-container{
    display: flex;
    flex-direction: row;
    margin-inline: 10%;
    box-shadow: 0px 1px 1px grey;
    padding: 1%;
    margin-top: 50px;
}

.cert-card-container img{
    height: 150px;
    
}

.cert-card-container button{
    height: 50px;
    padding-inline: 5%;
    align-self: center;
}

.cert-card-details{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 5%;
}

.cert-card-details h1{
    font-family: sans-serif;
    font-size: 24px;
}

.cert-card-details p{
    padding-left: 5%;
    text-align: justify;
    width: 80%;
}


